<section>
      <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
        <div class="max-w-3xl mx-auto">
          <div>
            <p
              class="text-4xl font-semibold font-display text-blue-950 lg:text-8xl"
            >
              Расскажу немного о себе. 
            </p>
            <p class="text-slate-500 mt-4 max-w-xl">
              Кто же такой инженер электронно-вычислительных систем и сетей?
            </p>
            <div class="max-w-3xl mx-auto mt-12">
              <ul
                class="prose-styles list-disc grid grid-cols-1 lg:grid-cols-2 gap-x-12"
              >
                <li>
                  <strong class="font-display">ищет ответ </strong>
                  Если не уверен в ситуации, ищет ответ в Google, Duckduckgo, Bing и везде, где только может.
                </li>
                <li>
                  <strong class="font-display">Копипастит </strong>
                  Копипастит фрагменты кода из Stack Overflow, Glitch, Codepen или других ресурсов, где находит ответы.
                </li>
                <li>
                  <strong class="font-display">Тратит время </strong>
                  Тратит время на вещи, не связанные с инженерией, такие как хобби, друзья и семья.
                </li>
                <li>
                  <strong class="font-display">Баланс</strong>
                  Поддерживает здоровый баланс между работой и личной жизнью, а также уважает время других.
                </li>
                <li>
                  <strong class="font-display">судит других </strong>
                  Не оценивает себя произвольными метриками вклада на любом сайте и не судит других за их метрики и вклад.
                </li>
                <li>
                  <strong class="font-display">любит писать</strong>
                  Любит или не любит писать документацию, но всё равно делает это для будущих мейнтейнеров.
                </li>
                <li>
                  <strong class="font-display">просит о помощи </strong>
                  Не отказывается помочь другим повысить их уровень и сам просит о помощи, когда нуждается.
                </li>
                <li>
                  <strong class="font-display">своё мнение </strong>
                  Старается поддерживать продуктивность дискуссий и позволяет людям высказывать своё мнение до принятия решения.
                </li>
                <li>
                  <strong class="font-display">Бывает пишу код </strong>
                  Не всегда помнит всю кодовую базу
                  i.e. <code> Dear {firstName} ...</code>
                </li>
                <li>
                  <strong class="font-display">Уважает </strong>
                  Уважает и поддерживает общественные кодексы поведения.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
