<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!---- Alpine integrations -->
    <script
      defer="defer"
      src="form%20backend%20service_files/cdn.min.js"
    ></script>
    <script
      defer="defer"
      src="form%20backend%20service_files/cdn.min_002.js"
    ></script>
    <!---- Smoothscroll -->
    <script
      defer="defer"
      src="form%20backend%20service_files/smoothscroll.js"
    ></script>
    <link
      rel="stylesheet"
      href="form%20backend%20service_files/_slug_.74e23a3e.css"
    />
    <link
      rel="stylesheet"
      href="form%20backend%20service_files/_slug_.596cefbb.css"
    />
    <script type="module">
      window.lemonSqueezyAffiliateConfig = { store: "fabform" };
    </script>

<title>{{ site.title }} &mdash; {% if page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %}</title>

<link rel="stylesheet" href="/assets/css/styles.css" />
<!-- link rel="stylesheet" href="/assets/css/tailwind.css" / -->
