      <nav :class="{'flex': open, 'hidden': !open}" class="flex-col items-center flex-grow hidden md:pb-0 md:flex md:justify-end md:flex-row">
        {% for item in site.data.nav %}
        <a class="px-2 py-2 text-sm font-normal text-slate-600 lg:px-6 md:px-3 hover:text-green-500" target="_blank" href="{{ item.link }}"
          {% if page.url == item.link %}
          {% endif %}>
          {{ item.name }}
        </a>
        {% endfor %}
        
        <a class="items-center inline-flex w-full focus:outline-disc bg-green-50 duration-200 focus:ring-2 focus:ring-green-60 focus:ring-offset-2 font-medium lg:w-auto h-9 hover:bg-green-100 justify-center px-8 py-1 md:w-auto rounded-full text-green-600 text-center text-xs"  target="_blank"
          href="https://github.com/EvilPencil">GitHub</a>
      </nav>
