    <section class="relative overflow-hidden">
      <div class="relative px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:pt-24">
        <div class="text-left sm:text-center">
          <p class="text-4xl font-semibold font-display text-blue-950 sm:text-5xl">
            Какой то тезис
            <span class="lg:block">Или высказывание .</span>
          </p>
          <p class="mt-4 text-slate-600 text-base max-w-2xl mx-auto">
            Может быть это цитата уважаемого человека. Кто знает зачем.
          </p>
        </div>
      </div>
    </section>
