<div class="grid grid-cols-1 lg:grid-cols-4 mt-12 gap-8">
    <ol role="list" class="flex flex-wrap gap-3 lg:col-span-3 lg:ml-auto items-center">
        <li class="inline-flex items-center rounded-full bg-green-50 px-2 py-1 text-xs font-medium text-green-700  ">
            <a href="https://danilovandrey.ru/tags/Contact">Contact</a>
        </li>
        <li class="inline-flex items-center rounded-full bg-green-50 px-2 py-1 text-xs font-medium text-green-700  ">
            <a href="https://danilovandrey.ru/tags/Guide">Guide</a>
        </li>
    </ol>
</div>
{% for tag in site.tags %}
  <h3>{{ tag[0] }}</h3>
  <ul>
    {% for post in tag[1] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
