<section>
      <div class="relative px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:pb-24 lg:pt-12">
        <div class="lg:mt-12">
          <h1
            class="text-4xl font-semibold font-display text-blue-950 sm:text-6xl"
            >Всем
            <a 
              href="https://danilovandrey.ru/"
              >Привет!
            </a>
            <span
              class="lg:block"
              >Меня зовут Андрей.
            </span>
          </h1>
          <p
            class="mt-4 text-slate-600 text-base max-w-3xl"
            >И это мой сайт
          </p>
          <div class="mt-12 flex flex-col lg:flex-row lg:items-center w-full">
            <div class="relative flex flex-col gap-2 md:flex-row">
              <a
                target="_blank"
                href="https://danilovandrey.ru/blog"
                class="items-center inline-flex w-full focus:outline-disc bg-green-500 duration-500 focus:ring-2 focus:ring-green-600 focus:ring-offset-2 font-medium sm:w-auto h-12 hover:bg-green-600 justify-center px-6 py-1 rounded-full text-white text-center text-sm"
                >Читать мой блог
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
